Stats descriptives des bases de données pour une première analyse

1) Importation des bases que l'on va utiliser

In [ ]:
import pandas as pd

# Importer 3 bases CSV
df_csv1 = pd.read_csv("../Bases/q_voitvul_public_V3.csv", delimiter=";",encoding="ISO-8859-1")  # Modifie le délimiteur si nécessaire
df_csv2 = pd.read_csv("../Bases/tcm_men_public_V3.csv", delimiter=",",encoding="ISO-8859-1")  # Modifie le délimiteur si nécessaire
df_csv3 = pd.read_csv("../Bases/q_menage_public_V3.csv", delimiter=";",encoding="ISO-8859-1")  # Modifie le délimiteur si nécessaire

# Importer la base Excel
df_excel = pd.read_excel("../Bases/parc_vp_region_2024_1.xlsx", engine="openpyxl")  # Spécifie openpyxl pour les fichiers .xlsx
print(df_excel.head())  # Affiche les 5 premières lignes
#excel petit soucis à regler pour l'ouverture

/tmp/ipykernel_6751/964050192.py:5: DtypeWarning: Columns (63) have mixed types. Specify dtype option on import or set low_memory=False.
  df_csv2 = pd.read_csv("../Bases/tcm_men_public_V3.csv", delimiter=",",encoding="ISO-8859-1")  # Modifie le délimiteur si nécessaire

  Parc par région des voitures particulières au 1er janvier, selon le carburant, l'âge, le statut, la vignette crit'air  \
0                              Source : SDES, Rsvero
1                                                NaN
2                                Région de résidence
3                                           Inconnue
4                                           Inconnue

                 Unnamed: 1                       Unnamed: 2 Unnamed: 3  \
0                       NaN                              NaN        NaN
1                       NaN                              NaN        NaN
2  Code région de résidence                        Carburant        Âge
3                        00  Diesel hybride non rechargeable       0 an
4                        00  Diesel hybride non rechargeable       0 an

                Unnamed: 4 Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0                      NaN        NaN         NaN         NaN         NaN
1                      NaN        NaN         NaN         NaN         NaN
2  Statut de l'utilisateur   Crit'Air      2011.0      2012.0      2013.0
3              Particulier          2         0.0         0.0         0.0
4            Professionnel          2         0.0         0.0         1.0

   Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13  \
0         NaN          NaN          NaN          NaN          NaN
1         NaN          NaN          NaN          NaN          NaN
2      2014.0       2015.0       2016.0       2017.0       2018.0
3         0.0          0.0         18.0          0.0          0.0
4         0.0          0.0          0.0          0.0          0.0

   Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17  Unnamed: 18  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2       2019.0       2020.0       2021.0       2022.0       2023.0
3          0.0          1.0          1.0          0.0          1.0
4          1.0          0.0          0.0          0.0          1.0

   Unnamed: 19
0          NaN
1          NaN
2       2024.0
3          0.0
4          0.0

In [9]:
#Affiche table voiturevul
print(df_csv1.head())  # Affiche les 5 premières lignes

      IDENT_NUMVEH      IDENT_MEN  NUM_VEH     pond_veh  KVROUL  \
0  110000011400001  1100000114000        1  1842.977077       1
1  110000011500001  1100000115000        1  1948.382441       1
2  110000011500002  1100000115000        2  1948.382441       1
3  110000011600001  1100000116000        1   833.453670       1
4  110000012400001  1100000124000        1  1698.142782       1

   cylindree_fin energie_fin  energie_agrege hybride  energie_statinfo  ...  \
0            1.6          ES             1.0     NaN               2.0  ...
1            1.6          GO             2.0     NaN               4.0  ...
2            1.4          ES             1.0     NaN               2.0  ...
3            1.6          ES             1.0     NaN               2.0  ...
4            1.5          GO             2.0     NaN               4.0  ...

   KVKMVT      KVKM1ANV  indic_km_annu_corr KVKM1ANVT  KVCONS KVGAREJOUR  \
0     4.0   2478.916193             INTERPO       1.0     7.2        1.0
1     1.0   3076.149733             INTERPO       1.0     5.5        1.0
2     5.0   3300.560578             INTERPO       1.0     6.0        2.0
3     4.0   3902.887413             INTERPO       1.0     9.0        1.0
4     5.0  15980.511731             INTERPO       5.0     6.5        2.0

   KVGARENUIT  KVGARELEC_FLAG  KVGARELEC_A  KVGARELEC_B
0         1.0               1          1.0          0.0
1         1.0               1          0.0          0.0
2         2.0               1          0.0          0.0
3         1.0               1          0.0          0.0
4         2.0               1          1.0          0.0

[5 rows x 74 columns]

In [7]:
#Affiche table tcm_menage
print(df_csv2.head())

       ident_men     ident_log  vague_enq  BS    pond_menC  NPERS  NCOUPLES  \
0  1100000114000  110000011400          1   0  1842.977077      1         0
1  1100000115000  110000011500          1   0  1948.382441      4         1
2  1100000116000  110000011600          1   0   833.453670      2         1
3  1100000124000  110000012400          2   0  1698.142782      2         1
4  1100000125000  110000012500          2   0  1994.633496      2         1

   NENFANTS  NACTIFS  NENFACT  ...  pop_10min_pieton_train_res  \
0         0        0        0  ...                          80
1         2        2        0  ...                          80
2         0        0        0  ...                           0
3         0        2        0  ...                          50
4         0        1        0  ...                          50

   pop_10min_voiture_tram_metro_res  pop_10min_voiture_train_res  \
0                                 0                          100
1                                 0                          100
2                                 0                          100
3                                 0                          100
4                                 0                          100

   classement_littoral_res  classement_montagne_res  \
0             Non concerné             Non concerné
1             Non concerné             Non concerné
2             Non concerné             Non concerné
3             Non concerné             Non concerné
4             Non concerné             Non concerné

                densite_7_RES  dist_res_tram  dist_res_metro  \
0      Grands centres urbains   10km et plus    10km et plus
1      Grands centres urbains   10km et plus    10km et plus
2  Rural Ã  habitat dispersÃ©   10km et plus    10km et plus
3      Grands centres urbains   10km et plus    10km et plus
4      Grands centres urbains   10km et plus    10km et plus

         dist_res_train         dist_res_tgv
0  500m Ã  moins de 1km         20km et plus
1         Moins de 500m         20km et plus
2     1 Ã  moins de 2km  10 Ã  moins de 20km
3  500m Ã  moins de 1km         20km et plus
4  500m Ã  moins de 1km         20km et plus

[5 rows x 85 columns]

In [8]:
#Affiche table q_menage
print(df_csv3.head())

       IDENT_MEN    pond_menC  JNBVEH  JNBVHS  JNBVPHS  JNBCCHS  JNBVULHS  \
0  1100000114000  1842.977077       1     2.0      NaN      NaN       NaN
1  1100000115000  1948.382441       2     2.0      NaN      NaN       NaN
2  1100000116000   833.453670       1     2.0      NaN      NaN       NaN
3  1100000124000  1698.142782       1     2.0      NaN      NaN       NaN
4  1100000125000  1994.633496       2     2.0      NaN      NaN       NaN

   JNBMOTO  JNBCYCLO  JNBAUTVEH  ...  JUTILMOTO  JUTILCYCLO  JUTILAUTVEH  \
0        0         0          0  ...        NaN         NaN          NaN
1        0         0          0  ...        NaN         NaN          NaN
2        0         0          0  ...        NaN         NaN          NaN
3        2         0          0  ...        2.0         NaN          NaN
4        0         0          0  ...        NaN         NaN          NaN

   JUTILVELOAD  JUTILVELOENF  JVOLVELO  JPLUSVELO  JNBKVM  JUTIL2RM  BLOGDIST
0          NaN           NaN         2        NaN       1         0         2
1          0.0           0.0         2        NaN       2         0         1
2          NaN           NaN         2        NaN       1         0         4
3          1.0           NaN         2        NaN       1         2         1
4          NaN           NaN         2        NaN       2         0         1

[5 rows x 22 columns]